 /* 
I just had a project that included frontend, so i used some of that experience
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: #5F6368;
  background-color: #282837;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;


}
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
---SIDEBAR---
*/
/* The side navigation menu */
.sidebar .logo {
  opacity: 100;
  color: white; /* Default color for the logo */
  text-decoration: none; /* Remove underline */
  font-size: 2.5em; /* Set font size for the logo */
  font-weight: 700;
  font-style: bold;
  font-family: 'Montserrat';
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 50px;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5); /* Add small text shadow */
}

.sidebar .logo:hover {
  color: white; /* Change color on hover */
}

.sidebar .logo::after {
  content: "."; /* Add a dot after "Loaner" */
  color: #4A83F6; /* Color for the dot */
  margin-left: 0.1em; /* Adjust spacing between "Loaner" and the dot */
}

.sidebar .logo::before {
  content: "Bib"; /* Combine "Bib" and "Loaner" into a single text */
  color: #4A83F6; /* Color for "Bib" */
}

.sidebar .logo::before,
.sidebar .logo::after {
  display: inline; /* Display "Bib" and "Loaner" inline */
}

.sidebar {
  margin: 0;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 350px;
  background-color: #282837;
  position: fixed;
  height: 100%;
  overflow: auto;
  box-shadow: 1px 1px 1px 0 rgba(255, 255, 255, 0.3);
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: #ECECF9;
  padding: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
  opacity: 0.8;
  text-decoration: none;
  font-size: 22px;
  width: 300px;
}

.content {
  margin: 0 auto;
}

.sidebar a.active,
.sidebar a.selected:not(.logo) {
  width: 300px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #282837;
  color: white;
}
/* Active/current link */
.sidebar a.active:not(.img-link) {
  opacity: 1;
  width: 300px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #282837;
  color: white;
}
/* Links on mouse-over */
.sidebar a:hover:not(.active, .logo) {
  width: 300px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #282837;
  color: white;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.sidebar a:hover:is(.img-link){
  width: 300px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  opacity: 1;
  background-color: #4A83F6;
  opacity: 1 !important;
  color: white;
  
}

.sidebar a:selected:is(.active):not(.logo){
  opacity: 1;
  width: 300px;
  height: 120%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #282837;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
}

.sidebar a:active:not(.logo){
  opacity: 1;
  background-color: #282837 !important;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
}

.sidebar ul li {
  width: 300px;
  list-style: none;
  align-content: center;
}

.sidebar ul li:is(.active):not(.logo) {
  background-color: #4A83F6 !important;
  opacity: 1 !important;
  margin-bottom: 32px;
  margin-top: 32px;
  width: 300px;
  
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
}

.sidebar ul {
  
  padding: 0;
  margin: 0;
  text-indent: 20%;
}
/*
---End of SIDEBAR---
*/

/*Rest*/
.background{
  width: 400px;
  height: 800px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}
.background .shape{
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}



/*
--- Dashboard BOOK LIST---
*/
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #282837; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #4A83F6; /* Color of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #4A83F6; /* Color of the scrollbar thumb on hover */
}
.book-list {
  width: 820px;
  max-width: 820px; /* Set maximum width for the book list */
  max-height: 800px;
  margin-top: 10px;
  position: absolute;
  margin-left: 400px;
}

.book-list h2 {
  text-align: left; /* Center align the heading */
  color: #4A83F6; /* Set text color to #4A83F6 */
  font-weight: 600; /* Increase font weight */
}

.book-list ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
  max-height: 800px; /* Set maximum height for the book list */
  overflow-y: auto; /* Enable vertical scroll */
}

.book-list ul li {
  padding: 10px 0; /* Add some vertical spacing between list items */
  font-family: 'Montserrat';
  font-weight: 500;
}

/* Styling for book title (blue) */
.book-list ul li .book-title {
  color: #4A83F6; /* Set text color to blue */
}

/* Styling for author name (white) */
.book-list ul li .author {
  color: white; /* Set text color to white */
  font-weight: 500; /* Increase font weight */
}

.book-list ul li .copies {
  color: white;
  padding-left: 50%;
}
.columncopies {
  margin-left: 200px;
}
.idcolumn {
  width: 200px;
}
.bookcolumn {
  width: 400px;
}
/*
--- Dashboard book wallpaper---
*/
.libwallpaper {
  margin-left: 1220px;
  width: 700px;
  height: 1000px;
  opacity: 0.95;
  
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
/*--- Searchbar ---*/
.search-bar{
  margin-top: 10px;
  margin-left: 00px;
}
.search-input{
  text-align: center;
  width: 600px;
  height: 40px;
  border: 1px solid;
  border-color: white;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: white;
  border-radius: 10px;
  outline: 1;
  background-color: #282837;
}
.searchbutton {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

/*
--- LEND.HTML ID input bar---
*/
.lend{
  margin-left: 350px;
  width: 900px;
  height: 1080px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.lend-bar-id {
  padding-top: 320px;
  padding-left: 250px;
  width: 400px !important;
  /* padding-top: 18%;
  padding-left: 40%; */
}
.lend-bar-id .search-input,
.lend-bar-id-member .search-input {
  width: 400px !important;
}
.lend-bar-id-member {
  margin-top: 30px;
  padding-top: 40px;
  padding-left: 250px;
  width: 400px !important; 
  /* padding-top: 4%;
  padding-left: 40%; */
}
.title {
  margin-left: 250px;
  padding-top: 100px;
  position: absolute;
  /* padding-left: 44%;
  padding-top: 4%; */
  text-align: center; /* Center align the heading */
  color: #4A83F6; /* Set text color to #4A83F6 */
  font-weight: 600; /* Increase font weight */
  font-size: 48px;
  opacity: 100;
  color: white; /* Default color for the logo */
  text-decoration: none; /* Remove underline */
  width: 400px;
  font-weight: 700;
  font-style: bold;
  font-family: 'Montserrat';
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5); /* Add small text shadow */
}
.title::after {
  content: "Book"; /* Add a dot after "Loaner" */
  color: #4A83F6; /* Color for the dot */
  margin-left: 0.1em; /* Adjust spacing between "Loaner" and the dot */
}

.title::before {
  content: "Lend"; /* Combine "Bib" and "Loaner" into a single text */
  color: #4A83F6; /* Color for "Bib" */
}

.title::before,
.title::after {
  display: inline; /* Display "Bib" and "Loaner" inline */
}
.idtitle {
  position: absolute;
  margin-top: 280px;
  padding-left: 250px;
  width: 400px;
  /* padding-left: 52%;
  padding-top: 15%; */
  text-align: center; /* Center align the heading */
  color: #4A83F6; /* Set text color to #4A83F6 */
  font-weight: 600; /* Increase font weight */
  font-size: 35px;
}

.membertitle {
  position: absolute;
  margin-top: 30px;
  padding-left: 250px;
  width: 400px;
  /* padding-left: 50%;
  padding-top: 1%; */
  text-align: center; /* Center align the heading */
  color: #4A83F6; /* Set text color to #4A83F6 */
  font-weight: 600; /* Increase font weight */
  font-size: 35px;
}
.librarytitle {
  padding-top: 30px;
  padding-left: 350px;
  padding-left: 250px;
  width: 400px;
  position: absolute;
  /* padding-left: 52%;
  padding-top: 1%; */
  text-align: center; /* Center align the heading */
  color: #4A83F6; /* Set text color to #4A83F6 */
  font-weight: 600; /* Increase font weight */
  font-size: 35px;
}
.lend-box-library {
  padding-left: 200px;
  padding-top: 50px;
  /* padding-left: 50%; */
  position: absolute;
  margin-top: 40px;
  padding-left: 250px;
  width: 400px;
  /* padding-left: 44%;
  padding-top: 4%; */
  text-align: left; /* Center align the heading */
  color: #4A83F6; /* Set text color to #4A83F6 */
  font-weight: 600; /* Increase font weight */
  font-size: 32px;
  opacity: 100;
  color: white; /* Default color for the logo */
  text-decoration: none; /* Remove underline */
}
.radio-id {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #4A83F6;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
}

.radio-id:checked::after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #4A83F6;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}
/* --- Huge button to enter */
.hb {
  color: #4A83F6;
  position: absolute;
  top: 0%;
  margin-left: 1250px;
  height: 1080px; /* Set height to auto to fit content */
  width: 670px;
  border: 4px solid #4A83F6; /* Add a border to see the boundaries */
}
.beeg{
  height: 1080px; /* Set height to auto to fit content */
  width: 670px;
  font-size: 500px; /* Increase font size for better readability */
  font-weight: bold; /* Add bold font weight for emphasis */
  color: white; /* Set text color to white */
  background-color: #4A83F6; /* Set background color */
  border: none; /* Remove border */
  border-radius: 0px; /* Add border radius for rounded corners */
  cursor: pointer; /* Add cursor pointer to indicate it's clickable */
  transition: background-color 0.3s ease; /* Add smooth transition for background color */

}
.hbreturn {
  color: #f64a4a;
  position: absolute;
  top: 0%;
  margin-left: 1250px;
  height: 1080px; /* Set height to auto to fit content */
  width: 670px;
  border: 4px solid #f64a4a; /* Add a border to see the boundaries */

   /* Add a border to see the boundaries */
}
.beegfail{
  height: 1080px; /* Set height to auto to fit content */
  width: 670px;
  font-size: 500px; /* Increase font size for better readability */
  font-weight: bold; /* Add bold font weight for emphasis */
  color: white; /* Set text color to white */
  background-color: #f64a4a; /* Set background color */
  border: none; /* Remove border */
  border-radius: 0px; /* Add border radius for rounded corners */
  cursor: pointer; /* Add cursor pointer to indicate it's clickable */
  transition: background-color 0.3s ease; /* Add smooth transition for background color */

}
.beegfail:hover {
  background-color: rgb(198, 53, 53); /* Darken the background color on hover */
}
/* Add hover effect */
.beeg:hover {
  background-color: #3569c6; /* Darken the background color on hover */
}
/* --- Return page ---*/
.textresult{
  position: absolute;
  color: #4A83F6;
  width: 400px;
  padding-left: 100px;
  
  padding-top: 150px;
  font-size: 45px;
  font-weight: 600;
}
.returndate{
  position: absolute;
  color: #ECECF9;
  width: 400px;
  padding-left: 100px;
  margin-top: 350px;
  padding-top: 150px;
  font-size: 45px;
  font-weight: 600;
}


.titlereturn {
  margin-left: 250px;
  padding-top: 100px;
  position: absolute;
  /* padding-left: 44%;
  padding-top: 4%; */
  text-align: center; /* Center align the heading */
  color: #4A83F6; /* Set text color to #4A83F6 */
  font-weight: 600; /* Increase font weight */
  font-size: 48px;
  opacity: 100;
  color: white; /* Default color for the logo */
  text-decoration: none; /* Remove underline */
  width: 400px;
  font-weight: 700;
  font-style: bold;
  font-family: 'Montserrat';
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5); /* Add small text shadow */
}
.titlereturn::after {
  content: "Book"; /* Add a dot after "Loaner" */
  color: #f64a4a; /* Color for the dot */
  margin-left: 0.1em; /* Adjust spacing between "Loaner" and the dot */
}

.titlereturn::before {
  content: "Return"; /* Combine "Bib" and "Loaner" into a single text */
  color: #f64a4a; /* Color for "Bib" */
}

/* --- members css --- */

/* Styling for author name (white) */
.book-list ul li .lname {
  color: white; /* Set text color to white */
  font-weight: 500; /* Increase font weight */
}

.book-list ul li .copies {
  color: white;
  padding-left: 0%;
  
}
.book-list ul li .debties {
  color: white;
  padding-left: 50%;
}
.book-list ul li {
  border-radius: 2px;
  border: #ECECF9;
  border-width: 5px;
}
.loancolumn {
  width: 150px;
  align-content: left;
}
.idcolumn {
  width: 150px;
}
.fnamecolumn {
  width: 150px;
}
.debtcolumn {
  
}
.book-list .membersinfo {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
  max-height: 800px; /* Set maximum height for the book list */
  overflow-y: auto; /* Enable vertical scroll */
}
.buttoncolumn {
  margin: 0;
  padding-left: 150px;
  border: #ECECF9;
  width: 50px;
  height: 50px;
  text-decoration: none;
  
}
.buttondiv {
  width: 20px;
  height: 20px;
  color: white;
  border: #ECECF9;
}
.buttonthing{
  text-decoration: none;
  color: #4A83F6;
}

/* --- memberinfo --- */
.datecolumn {

  width: 150px;
}
.memberbookcolumn{
  width: 200px;
}
.memberinfotable{

  border: 2px rgba(198, 53, 53,0.2);

  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  background-color: rgba(198, 53, 53,0.2);
  }
.book-list .loaninfo {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
  max-height: 500px; /* Set maximum height for the book list */
  overflow-y: auto; /* Enable vertical scroll */
}
/* --- debt --- */
.hb2 {
  
  margin-top: 300px;
  
  color: #4A83F6;
  position: absolute;
  top: 0%;
  margin-left: 200px;
  height: 200px; /* Set height to auto to fit content */
  width: 200px;
  
}
.set {
  height: 50px; /* Set height to auto to fit content */
  width: 400px;
  font-size: xx-large;
  background-color: #4A83F6;
  text-decoration: none;
  border-radius: 16px;
  border: none; /* Remove default border */
  appearance: none; /* Remove default appearance */
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5); /* Add small text shadow */
  

}
.debttitle {
  position: absolute;
  margin-top: 30px;
  padding-left: 200px;
  width: 400px;
  /* padding-left: 50%;
  padding-top: 1%; */
  text-align: center; /* Center align the heading */
  color: #4A83F6; /* Set text color to #4A83F6 */
  font-weight: 600; /* Increase font weight */
  font-size: 35px;
}


.lend-bar-id-member-debt .search-input {
  width: 400px !important;
}
.lend-bar-id-member-debt {
  margin-top: 30px;
  padding-top: 100px;
  padding-left: 200px;
  width: 400px !important; 
  /* padding-top: 4%;
  padding-left: 40%; */
}
.setdebt {
  border-left: 1px solid rgba(255, 255, 255, 0.3);  
  height: 1080px;
  padding-top: 100px;
  margin-left: 1220px;
}
/* --- addmmember --- */

.mtitle {
  margin-left: 285px;
  padding-top: 100px;
  position: absolute;
  /* padding-left: 44%;
  padding-top: 4%; */
  text-align: center; /* Center align the heading */
  color: #4A83F6; /* Set text color to #4A83F6 */
  font-weight: 600; /* Increase font weight */
  font-size: 48px;
  opacity: 100;
  color: white; /* Default color for the logo */
  text-decoration: none; /* Remove underline */
  width: 400px;
  font-weight: 700;
  font-style: bold;
  font-family: 'Montserrat';
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5); /* Add small text shadow */
}
.mtitle::after {
  content: "Member"; /* Add a dot after "Loaner" */
  color: #4af6a6; /* Color for the dot */
  margin-left: 0.1em; /* Adjust spacing between "Loaner" and the dot */
}

.mtitle::before {
  content: "Add"; /* Combine "Bib" and "Loaner" into a single text */
  color: #4af6a6; /* Color for "Bib" */
}

.mtitle::before,
.mtitle::after {
  display: inline; /* Display "Bib" and "Loaner" inline */
}