{% extends 'base.html' %}

{% block head %}

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

{% block scripts %}


{% endblock %}
<title>BibLoaner.</title>

{% endblock %}



{% block body %}

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="sidebar">
    <a href="/dashboard" class="logo">Loaner</a>
    <ul>
        <li  class="menu "><a href="/"><i class="fa fa-fw fa-home"></i>  Dashboard</a></li>
        <li  class="menu "> <a  href="/lend" class="menu"><i class="fa fa-fw fa-book"></i>  Lend book</a></li>
        <li  class="menu "> <a  href="/return"> <i class="fa fa-fw fa-book"></i>  Return book</a></li>
        <li  class="menu "> <a  href="/members"> <i class="fa fa-fw fa-book"></i>  See members</a></li>
        <li  class="menu active"> <a  href="/addmember"> <i class="fa fa-fw fa-book"></i>  Add member</a></li>

        <li  class="menu "> <a href="https://github.com/frankuman/BL"> <i class="fa fa-github"></i> GitHub</a></li>
        <li  class="menu "> <a href="/logout"> <i class="fa fa-sign-out"></i>  Quit</a></li>
    </ul>
</div>
<form action="/add-mem" method="get">
    <div class="lend">
        <h class="mtitle"> A </h>
        <h class="idtitle">First Name</h>
        
            <div class="lend-bar-id">
                <input type="text" name="fname" placeholder="Input Name Here" class="search-input" autocomplete="on"/>
                
            </div>
            <h class="membertitle">Last Name</h>
            <div class="lend-bar-id-member">
                <input type="text" name="lname" placeholder="Input Surname Here" class="search-input" autocomplete="on"/>
            </div>
    </div>
    <div class="hb">
        <input type="submit" class="beeg" value="&#8627;">
        <!-- <button type="button" class="beeg" onclick="submitForm()">&#8627;
        </button> -->
    </div>
</form>
{% endblock %}

